
.screen {
    background-color: #FFFFFF;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
  }

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-left {
    display: flex;
    justify-content: left;
}


.login-box {
    align-self: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    width: 300px;
    height: 400px;
    margin-top: 100px;
}

.registry-box {
    align-self: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    width: 350px;
    height: 600px;
    margin-top: 100px;
}

.login-top {
    height: 45%;
  }

.login-middle {
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 35%;
  }

.login-bottom {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    height: 20%;
  }

.reg-top {
    height: 20%;
  }

.reg-middle {
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
  }

.reg-bottom {
    flex-direction: column;
    justify-content:space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 15%;
  }

input {
    font-size: 13px;
    line-height: 13px;
    color: #1E1E1E;
    width: 250px;
  }

label{
    align-self: flex-start;
    font-size: 11px;
    line-height: 11px;
    color: #999999;
  }

.big-label{
    align-self: center;
    font-size: 18px;
    line-height: 18px;
    color: #1E1E1E;
  }

button {
    width: 250px;
    height: 30px;
    background: #3369F3;
    border-radius: 8px;
    color: #FFFFFF;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 13px;
}

a {
    font-size: 13px;
    line-height: 13px;
    color: #3369F3;
}